.item-header {
    font-size: 1.75rem;
}
.clickable{
    cursor: pointer;
}

.fullscreen-background {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #45605E 28.72%, #253433 100%);
}

.laundry-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #5A8B5F 28.72%, #223424 100%);
}

.container-background {
    background: rgba(255, 255, 255, 0.09);
    border: 1px solid #45605F;
    backdrop-filter: blur(20px);

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.addbutton {
    color:#A1E5BF;
}

.layer {
    min-height: 100px;
}

.articlecontainer {
    position: relative;
}

.homeItem {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin: 5px;
  }

.remove {
    position: absolute;
    z-index: 1;
    color: gray;
    right: 10px;
    top: 10px;
}

.randombutton {
    margin-top: 2em;
    color: black !important; 
    background-color: #A1E5BF !important;
    border-color: #A1E5BF !important;
    width: 150px;
    height: 3em;
    font-size: larger !important;
}

.confirmbutton {
    margin-top: 2em;
    color: black !important; 
    background-color: #A1E5BF !important;
    border-color: #A1E5BF !important;
    width: 150px;
    height: 3em;
    font-size: larger !important;
}

.homefiller {
    position: absolute;
    z-index: 0;
    color: #0b1610;
    right: 14px;
    top: 13px;
  }

.toastheader {
    font-size: larger;
    font-weight: 700;
    color: #252525;
}

.toastbody {
    font-weight: bolder;
}

