.background-gradient {
  background: linear-gradient(180deg, #45605e 28.72%, #253433 100%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {

}
.bottom-tab-nav {
  border-radius: 30px;
  margin: 10px;
  background-color: #474747;
}
.nav-link,
.bottom-nav-link {
  color: #55575b;
}

.navItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-nav-link.active {
  color: #922c88;
}
.bottom-tab-label {
  font-size: 10px;
  color: aliceblue;
}


.bottom-tab-icon {
  font-size: 24px;
  color: aliceblue;
}

.activeNavBarItem {
  background-color: #8d8d8d7f;
  border-radius: 30px;
}

.closetHeader {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-top: 20px;
  padding-right: 20px;
}

.closetHeaderButtonItem {
  margin-left: 5px;
}

.itemHeader {
  justify-content: flex-start;
  padding: 20px;
}

.headerButtons {
  color: aliceblue;
}

.clothingViewerContainer {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 130px;
  background-color: #cacaca4c;
  color: aliceblue;
}

.generationContainer {
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}

.categoryItem {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin: 5px;
}

.categorySelectorContainer {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.genSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genScreen {
  margin-bottom: 50px;
}

.clothingViewerSearch {
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 10px;
  border-width: 1px;
  padding: 5px;
  border-color: #8d92a0;
  border-style: solid;
}

.confirmBar {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.outfitPreview {
  display: flex;
  justify-content: space-around;
}

.confirmOutfitButton {
  margin-top: 10px;
}